In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Create and display Data Frame
pymoli_df = purchase_data
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
# Determine # of unique players in 'SN' column
pymoli_df['SN'].nunique()

576

In [16]:
# Display the total number of players
playercount = ({"Total Players": ['576']})
playercount_df = pd.DataFrame(playercount)
playercount_df

  Total Players
0           576

In [25]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item = len(pymoli_df['Item ID'].unique())
unique_item

179

In [26]:
average_price_of_items = round(float(pymoli_df['Price'].mean()), 2)
average_price_of_items

3.05

In [27]:
count_of_purchases = len(pymoli_df['Price'])
count_of_purchases

780

In [28]:
price_sum = float(pymoli_df['Price'].sum())
price_sum

2379.77

In [32]:
# Create a summary data frame to hold the results
pricesummary_df = pd.DataFrame ({
    'Number of Unique Items': [unique_item], 
    'Average Price': '$' + str(average_price_of_items),
    'Number of Purchases': [count_of_purchases],
    'Total Revenue': '$' + str(price_sum)
})

# Display the summary data frame
pricesummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [ ]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed