In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Create and display Data Frame
pymoli_df = purchase_data
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
# PLAYER COUNT
# Determine # of unique players in 'SN' column
pymoli_df['SN'].nunique()

576

In [16]:
# Display the total number of players
playercount = ({"Total Players": ['576']})
playercount_df = pd.DataFrame(playercount)
playercount_df

  Total Players
0           576

In [25]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item = len(pymoli_df['Item ID'].unique())
unique_item

179

In [26]:
average_price_of_items = round(float(pymoli_df['Price'].mean()), 2)
average_price_of_items

3.05

In [27]:
count_of_purchases = len(pymoli_df['Price'])
count_of_purchases

780

In [28]:
price_sum = float(pymoli_df['Price'].sum())
price_sum

2379.77

In [32]:
# PURCHASING ANALYSIS (TOTAL)
# Create a summary data frame to hold the results
pricesummary_df = pd.DataFrame ({
    'Number of Unique Items': [unique_item], 
    'Average Price': '$' + str(average_price_of_items),
    'Number of Purchases': [count_of_purchases],
    'Total Revenue': '$' + str(price_sum)
})

# Display the summary data frame
pricesummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [12]:
# GENDER DEMOGRAPHICS

import pandas as pd
import numpy as np
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
pymoli_df = purchase_data
pymoli_df.head()
total_players = pymoli_df["SN"].count()

# Percentage and Count of Female Players
female_players = pymoli_df.loc[pymoli_df["Gender"] =="Female"]
count_female_players = female_players["SN"].nunique()
percent_female_players = count_female_players/total_players * 100

# Percentage and Count of Other / Non-Disclosed
other_players = pymoli_df.loc[pymoli_df["Gender"] =="Other / Non-Disclosed"]
count_other_players = other_players["SN"].nunique()
percent_other_players = count_other_players/total_players * 100

# Percentage and Count of Male Players
male_players = pymoli_df.loc[pymoli_df["Gender"] == "Male", :]
count_male_players = male_players["SN"].nunique()
percent_male_players = count_male_players/total_players * 100

# Create summary data frame
# Display summary data frame
gender_demographics = pd.DataFrame(np.array([["Male", count_male_players, percent_male_players], 
                                             ["Female", count_female_players, percent_female_players], 
                                             ["Other/Non-Disclosed", count_other_players, percent_other_players]]),
                                             columns=['Gender', 'Total Count', 'Percentage of Players'])

gender_demographics = gender_demographics.set_index('Gender')

gender_demographics

                    Total Count Percentage of Players
Gender
Male                        484     62.05128205128205
Female                       81    10.384615384615385
Other/Non-Disclosed          11    1.4102564102564104

In [20]:
# PURCHASING ANALYSIS (GENDER)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = gender_grouped["Age"].count()
avg_purchase = gender_grouped["Price"].mean()
total_purchase_value = gender_grouped["Price"].sum()

# Create a summary data frame
# Display data frame
purchasing_by_gender_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Average purchase price": avg_purchase,
                                       "Total purchase value": total_purchase_value,
                                       "Normalized Total": total_purchase_value/unique_members})

purchasing_by_gender_df["Average purchase price"] = purchasing_by_gender_df["Average purchase price"].map("${:.2f}".format)
purchasing_by_gender_df["Total purchase value"] = purchasing_by_gender_df["Total purchase value"].map("${:.2f}".format)
purchasing_by_gender_df["Normalized Total"] = purchasing_by_gender_df["Normalized Total"].map("${:.2f}".format)

purchasing_by_gender_df

,Purchase count,Average purchase price,Total purchase value,Normalized Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [19]:
# AGE DEMOGRAPHICS
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Labels"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
grouped_age_df = purchase_data.groupby(["Age Labels"])

# Calculate the numbers and percentages by age group
ageCount = grouped_age_df["SN"].nunique()
agePercentage = ageCount/playercount * 100

# Create a summary data frame to hold the results
age_demo_df = pd.DataFrame({"Total Count": ageCount,
                            "Percentage of Players": agePercentage})

# Display summary data frame
age_demo_df[["Total Count", "Percentage of Players"]]

TypeError: Cannot broadcast np.ndarray with operand of type <class 'dict'>

In [27]:
# PURCHASING ANALYSIS (AGE)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = age_grouped["Age"].count()
avg_purchase = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()

# Create a summary data frame to hold the results
purchasing_by_age_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Average purchase price": avg_purchase,
                                       "Total purchase value": total_purchase_value,
                                        "Avg Total Purchase Per Person": total_purchase_value/unique_members})

purchasing_by_age_df["Average purchase price"] = purchasing_by_age_df["Average purchase price"].map("${:.2f}".format)
purchasing_by_age_df["Total purchase value"] = purchasing_by_age_df["Total purchase value"].map("${:.2f}".format)
purchasing_by_age_df["Avg Total Purchase Per Person"] = purchasing_by_age_df["Avg Total Purchase Per Person"].map("${:.2f}".format)

# Display the summary data frame
purchasing_by_age_df

,Purchase count,Average purchase price,Total purchase value,Avg Total Purchase Per Person
Age group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [34]:
# TOP SPENDERS
# Run basic calculations to obtain the results in the table below
df_sn_2 = pymoli_df.groupby('SN')
purchase_counts = df_sn_2['Gender'].count()
average_spending = round(df_sn_2['Price'].mean(),2)
total_purchase = round(df_sn_2['Price'].sum(),2)

# Create a summary data frame to hold the results
summary6 = pd.DataFrame([purchase_counts, average_spending, total_purchase])
summary7 = summary6.T
summary7.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']

# Sort the total purchase value column in descending order
# Display summary data frame
summary7.sort_values('Total Purchase Value', ascending=False).reset_index().head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93             5.0                    3.79                 18.96
1  Idastidru52             4.0                    3.86                 15.45
2   Chamjask73             3.0                    4.61                 13.83
3       Iral74             4.0                    3.40                 13.62
4  Iskadarya95             3.0                    4.37                 13.10

In [37]:
# MOST POPULAR ITEMS
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item

# Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({ "Purchase Count"       : purchase_count_item, 
                                    "Item Price"           : item_price,
                                    "Total Purchase Value" : purchase_value })

# Sort in descending order to obtain top spender names and provide top 5 item names
# Display summary data frame
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price"           : "${:,.2f}",
                                "Total Purchase Value" : "${:,.2f}"})

In [38]:
# MOST PROFITABLE ITEMS
# Sort the above table by total purchase value in descending order
# Display summary data frame
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
popular_formatted.style.format({"Item Price"           : "${:,.2f}",
                                "Total Purchase Value" : "${:,.2f}"})