In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Create and display Data Frame
pymoli_df = purchase_data
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
# Determine # of unique players in 'SN' column
pymoli_df['SN'].nunique()

576

In [16]:
# Display the total number of players
playercount = ({"Total Players": ['576']})
playercount_df = pd.DataFrame(playercount)
playercount_df

  Total Players
0           576

In [25]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_item = len(pymoli_df['Item ID'].unique())
unique_item

179

In [26]:
average_price_of_items = round(float(pymoli_df['Price'].mean()), 2)
average_price_of_items

3.05

In [27]:
count_of_purchases = len(pymoli_df['Price'])
count_of_purchases

780

In [28]:
price_sum = float(pymoli_df['Price'].sum())
price_sum

2379.77

In [32]:
# Create a summary data frame to hold the results
pricesummary_df = pd.DataFrame ({
    'Number of Unique Items': [unique_item], 
    'Average Price': '$' + str(average_price_of_items),
    'Number of Purchases': [count_of_purchases],
    'Total Revenue': '$' + str(price_sum)
})

# Display the summary data frame
pricesummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [10]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
# Grouping by gender & counting
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
pymoli_df = purchase_data
playercount = ({"Total Players": ['576']})

gender_grouped = pymoli_df.groupby("Gender")
unique_members = gender_grouped["SN"].nunique()

# Create a data frame with the summary gender data
gender_demo = pd.DataFrame({"Total Counts": unique_members,
                           "Percentage of Players": 100*unique_members/playercount})

gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)

gender_demo

TypeError: Cannot broadcast np.ndarray with operand of type <class 'dict'>

In [11]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
purchase_count = gender_grouped["Age"].count()
avg_purchase = gender_grouped["Price"].mean()
total_purchase_value = gender_grouped["Price"].sum()

# Create a summary data frame
purchasing_by_gender_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Average purchase price": avg_purchase,
                                       "Total purchase value": total_purchase_value,
                                       "Normalized Total": total_purchase_value/unique_members})

purchasing_by_gender_df["Average purchase price"] = purchasing_by_gender_df["Average purchase price"].map("${:.2f}".format)
purchasing_by_gender_df["Total purchase value"] = purchasing_by_gender_df["Total purchase value"].map("${:.2f}".format)
purchasing_by_gender_df["Normalized Total"] = purchasing_by_gender_df["Normalized Total"].map("${:.2f}".format)

purchasing_by_gender_df

,Purchase count,Average purchase price,Total purchase value,Normalized Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56